<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>survey</title>
  </head>
  <body>
    {% with messages = get_flashed_messages()%}
      {% if messages %}
        {% for mess in messages %}
          <p>
            {{mess}}
          </p>
        {% endfor %}
      {%endif %}
    {% endwith %}
    <form action="/process" method="POST">
      <h4>Your Name:</h4><input name="name" type="text" /><br />
      <h4>Dojo Location:</h4>
      <select name="location">
        <option value="Chicago">Chicago</option>
        <option value="Silicon Valley">Silicon Valley</option>
        <option value="Seattle">Seattle</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Washington DC">Washington DC</option>
        <option value="Berkeley">Berkeley</option>
        <option value="Orange County">Orange County</option>
      </select>
      <h4>Favorite Language: </h4>
      <select name="favlang">
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JavaScript">Javascript</option>
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
      </select>
    <h4>Comment: </h4>
    <input name="comment" type="text">
    <br />
    <input type="submit" value="Submit"/>
  </form>
  </body>
</html>
